{% include 'topbar.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="gartic">
        <iframe src="https://dorukyum.github.io/FNAF-Web/"
        <iframe allowfullscreen="" style="display: block; width: 100%; height: 100vh; border: 10px; overflow: hidden;">
        </iframe>
    </div>
</body>
</html>
