{% include 'topbar.html' %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div class="retro-loader-int-box">
    <iframe src="https://static.arcadespot.com/retroemulator.php?system=nes&game=2016/09/super-mario-bros.nes"
            allowfullscreen="" style="display: block; ; width: 100%; height: 918px; border: 0px;">

    </iframe></div>
</html>
